$black: #000000;
$white: #ffffff;
$dark-grey: #a8a8a8;
$light-grey: #efefef;

// TEXT COLOUR
$text-dark: $black;
$text-light: $white;

// ELEMENTS COLORS
$button-bg: $black;
$button-hover-bg: $white;
